/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    padding: 20px;
    width: 950px;
    background-color: white ;
    margin: 0px auto;
   }
   #backdrop{
       width:900;
       background-color: plum;
       padding: 20px;
   }
   #box1{
       height: 300px;
       width: 200px;
       display: inline-block;
        background-color: rgb(222, 210, 231);
   }
   #header{
 
    height: 50px;
    background-color: rgb(228, 228, 228);


   }
   #navigation{
    display: inline-block;
    vertical-align: top;
    height: 300px;
    width: 450px;
    margin-right: 15px;
    background-color: rgb(80, 80, 80);
    M

   }
   #main_content{
    display: inline-block;
    height: 290px;
    width: 450px;
    background-color:rgb(222, 210, 231);
  
   }
   .subcontents{
    display: inline-block;
  
    height: 40px;
    width: 460px;
    background-color: rgb(97, 107, 109);
   }
   #advertisement{
    display: inline-block;
   padding: 10px;
    height: 100px;
    width: 640px;
    background-color: purple;
   }
   
   img{
   display: inline-block;
    border-color: rgb(80, 80, 80);
    border-width: 5px;
    border: 25px;
    padding: 20px;
   }
   h2{
       color: whitesmoke;
       font-size: 18px;
       margin-left: 15px;
       margin-top: 10px;
   }
   p{

   }
   a{
        text-decoration: underline;
   }